body {
    background-color: #dbc6eb;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {

}

.game-logo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* Main game board grid*/
.parent-grid {
    display: grid;
    border: #ffe0ac 5rem;
    grid-row-gap: 1vh;
    grid-column-gap: 1vh;
    grid-template-columns: 256px 266px 256px;
    grid-template-rows: 256px 256px 256px;
}

/* Individual board grids */
.top-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: black solid;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.top-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.top-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.mid-left {
    border: black solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.mid-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.mid-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bot-left {
    border: black solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bot-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bot-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Image boxes */
/* #topLeftImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#topMidImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#topRightImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#midLeftImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#midMidImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#midRightImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#botLeftImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#botMidImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#botRightImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



/* Buttons */

.buttons {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.sun {
    text-align: center;
    cursor: pointer;
    padding: 1vh;
    margin-right: 2vh;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
    box-shadow: 5px 10px #393e46;
}


.rain {
    text-align: center;
    cursor: pointer;
    padding: 1vh;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
    box-shadow: 5px 10px #393e46;
}

.reset {
    text-align: center;
    cursor: pointer;
    padding: 1vh;
    margin-left: 2vh;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
    box-shadow: 5px 10px #393e46;
}
