body {
    background-color: #a6dcef;
}

.game-logo {
    text-align: center;
}

.parent-grid {
    display: grid;
    margin-left: 51vh;
    border: #ffe0ac 5rem;
    grid-row-gap: 1vh;
    grid-column-gap: 1vh;
    grid-template-columns: 25vh 25vh 25vh;
    grid-template-rows: 25vh 25vh 25vh;
}

.top-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: black solid;
    object-fit: cover;
    text-align: center;
}

.top-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    text-align: center;
}

.top-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    text-align: center;
}

.mid-left {
    border: black solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
}

.mid-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
}

.mid-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
    text-align: center;
}

.bot-left {
    border: black solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
}

.bot-mid {
    border: black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
}

.bot-right {
    border: black solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    text-align: center;
}